@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Protest+Guerrilla&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

header {
    display: flex;
    
    align-items: baseline;
    padding: 30px 10%;
    background-color: rgb(85, 71, 54); 
}

.logo {
    width: 5%;
    height: 5%;
    cursor: pointer;
    margin-right: auto;
}

h1 {
    color: #fff;
    font-family: "Protest Guerilla" sans-serif;
    font-weight: 400;
    font-size: 60px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 50px 420px;
    padding: 30px 50px;
}

h3, label {
    font-family: "Lato" sans-serif;
}

h3 {
    font-size: 30px;
}

label {
    font-size: 20px;
}

input, select { 
    padding: 5px 8px;
}

form button {
    background-color: #2f3990;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
}

.list {
    margin-left: 120px;
}

#deleteChecked {
    background-color: #2f3990;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
}